* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Noto Sans KR", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: initial;
  border-radius: 10px;
}

header {
  width: 100%;
  padding: 15px 30px;
  background: #ffffff;
  border-bottom: 1px solid #e2e2e2;
}

header > a {
  font-weight: bold;
  cursor: pointer;
  margin-right: 20px;
  color: black;
}

header > a:hover {
  color: #448361;
}

main {
  width: 1024px;
}

section {
  margin: 50px 0;
}

::selection {
  background-color: #e2e2e2;
}

h1 {
  font-size: 3rem;
  margin: 50px 0 10px 0;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

i {
  color: gray;
}

p {
  font-size: 1rem;
  margin-bottom: 20px;
}

.primary-mark {
  color: #448361;
}

.divide-line {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #e2e2e2;
}

.contents-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

.contents-wrapper > h3 {
  width: 30%;
}

.contents-wrapper > div {
  width: 60%;
}

.skill-wrapper {
  margin-top: 20px;
}

.skill-wrapper > span {
  padding: 6px 15px;
  border-radius: 21px;
  color: white;
  margin-right: 5px;
  cursor: pointer;
}

#react {
  color: black;
  background: #61dafb;
}

#react:hover {
  transition: all 0.3s;
  background: #8be6ff;
}

#vue {
  background: #4eb282;
}

#vue:hover {
  transition: all 0.3s;
  background: #60da9f;
}

#javascript {
  color: black;
  background: #f7df1e;
}

#javascript:hover {
  transition: all 0.3s;
  background: #ffed66;
}

#typescript {
  background: #2f74c0;
}

#typescript:hover {
  transition: all 0.3s;
  background: #3d95f3;
}

#recoil {
  background: #3578e5;
}

#recoil:hover {
  transition: all 0.3s;
  background: #5295ff;
}

#emotion {
  background: #d36ac2;
}

#emotion:hover {
  transition: all 0.3s;
  background: #ff94ed;
}

#oauth {
  background: #060606;
}

#oauth:hover {
  transition: all 0.3s;
  background: #3a3a3a;
}

#git {
  background: #f05033;
}

#git:hover {
  transition: all 0.3s;
  background: #ff735a;
}

#jira {
  background: #2684ff;
}

#jira:hover {
  transition: all 0.3s;
  background: #5da3ff;
}

#next,
#stomp {
  background: black;
}

#next:hover,
#stomp:hover {
  transition: all 0.3s;
  background: rgba(0, 0, 0, 0.753);
}

#redux {
  background: #7f42c3;
}

#redux:hover {
  transition: all 0.3s;
  background: #a357fa;
}
