* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Noto Sans KR", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: initial;
  border-radius: 10px;
}

header {
  width: 100%;
  padding: 15px 30px;
  background: #ffffff;
  border-bottom: 1px solid #e2e2e2;
}

header > a {
  font-weight: bold;
  cursor: pointer;
  margin-right: 20px;
  color: black;
}

header > a:hover {
  color: #448361;
}

main {
  width: 1024px;
}

section {
  margin: 50px 0;
}

::selection {
  background-color: #e2e2e2;
}

h1 {
  font-size: 3rem;
  margin: 20px 0;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

i {
  color: gray;
}

p {
  font-size: 1rem;
  margin-bottom: 20px;
}

.primary-mark {
  color: #448361;
}

.divide-line {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #e2e2e2;
}

.experience-wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

.experience-ul {
  padding-top: 1rem;
  padding-left: 2rem;
}

.education-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 40px;
}

.education-content-wrapper {
  display: flex;
  flex-direction: column;
}
